<nav class="blue darken-4">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo truncate">Монитор сервера</a>
        <ul id="nav-mobile" class="right">
            <li><a onclick="ShowSettings()" id = "settings" style="display: none">Настройки</a></li>

        </ul>
    </div>
</nav>