
<button type="submit" onclick="startStop()" id="btnStartStop" class="btn" style="display: none">Запуск/Остановка</button>

<button type="submit"  id="btnAdd"  class="dropdown-trigger btn" data-target='dropdown1' style="display: none">Добавление</button>
<ul id='dropdown1' class='dropdown-content'>
    <li><a onclick="getAdd(true)">Снимка</a></li>
    <li><a onclick="getAdd(false)">Контейнера</a></li>
</ul>

<button type="submit" id="btnEdit"  class="dropdown-trigger btn" data-target='dropdown2' style="display: none">Редактирование</button>
<ul id='dropdown2' class='dropdown-content'>
    <li><a onclick="getEdit(true)">Снимка</a></li>
    <li><a onclick="getEdit(false)">Контейнера</a></li>
</ul>

<button   id="btnList"  class="dropdown-trigger btn" data-target='dropdown3' style="display: none">Показать список</button>
<ul id='dropdown3' class='dropdown-content'>
    <li><a onclick="getList(true)">Снимков</a></li>
    <li><a onclick="getList(false)">Контейнеров</a></li>
</ul>

<button type="submit" onclick="getMonit()" id="btnMonit"  class="btn" style="display: none">Мониторинг</button>
<h3 id="Header"></h3>
<div id="content">
  <!--  <form class="modal-content animate">-->


        <div class="container" >
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter email" id="email" name="email" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter password" id="psw" name="psw" required>

            <button type="submit" class="btn" onclick="Auth() ">Login</button>
            <label id="errorLabel" style="color: red" ></label>
        </div>

    <!--  </form> -->
 </div>

<script>
    $(document).ready(function(){
        $('.modal').modal();
        $('.dropdown-trigger').dropdown();
    });
</script>


