
<button type="submit" onclick="startStop()" id="btnStartStop" class="btn" style="display: none">Запуск/Остановка</button>
<button type="submit" onclick="getAdd()" id="btnAdd"  class="btn" style="display: none">Добавление</button>
<button type="submit" onclick="getEdit()" id="btnEdit"  class="btn" style="display: none">Редактирование</button>
<button type="submit" onclick="getList()" id="btnList"  class="btn" style="display: none">Показать список</button>
<button type="submit" onclick="getMonit()" id="btnMonit"  class="btn" style="display: none">Мониторинг</button>
<h3 id="Header"></h3>
<div id="content">
  <!--  <form class="modal-content animate">-->


        <div class="container" >
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter email" id="email" name="email" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter password" id="psw" name="psw" required>

            <button type="submit" class="btn" onclick="Auth() ">Login</button>
            <label id="errorLabel" style="color: red" ></label>
        </div>

    <!--  </form> -->
 </div>




